@import '../../../assets/styles/variables.less';

.container {
  padding: 1.5rem; /* p-6 -> 24px */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem; /* mb-4 -> 16px */
}

.search {
  width: 280px;
}
